/AccessMagicDraw.java
/SimpleMagicDrawManager.java
/VirtualMagicDrawManager.java
/LaunchMagicDrawInBatchMode.java
/URITest.java
/PackageCreationTest.java
/TestRDFParsingWithOSLC4J.java
/CreateMagicDrawSysMLItemFlow.java
/CreateMagicDrawSysMLPackage.java
/TestRegex.java
/CreateMagicDrawSysMLInterfaceBlock.java
/TestMagicDrawLaunch2.java
/TestMagicDrawLaunch.java
